version: "3.4"

services:
  webserver:
    build: ./backend
    container_name: webserver
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend/:/usr/src/app/
    ports:
      - 8081:8000
    env_file:
      - ./.env.dev
    depends_on:
      - db

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - 8082:8080
    depends_on:
      - db

  db:
    image: postgres:13.0-alpine
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.dev

  website:
    image: node:14
    container_name: website
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/usr/src/service
    working_dir: /usr/src/service/
    command: npm start
    depends_on:
      - webserver

volumes:
  postgres_data:
